<html>
    <head>
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body id="homePage">
        <ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{ url_for('displayPosts') }}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('post') }}">Schedule Post</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">About</a>
  </li>
</ul>

        <div class="hero">
            <div class="header heroitem">
            <h1>Hello {{userDetails.username}}</h1> 
            </div>
            <div class="image-heroitem">
                <img src="{{ url_for('static', filename='assets/Group 1.svg') }}" alt="">
            </div>
            <div class="footer heroitem">
                <p>Welcome to PostPilot!<br>Consistency made simple</p>
            </div>
        </div>

        
            <h2 class="pp-header">SCHEDULED POSTS</h2>
            
            <ul class="scheduledPosts">
                {% for post in pendingPosts %}
                    <li class="pending-posts">
                        
                        <div class="pp-image">
                            {% if post.image %}
                            {% set ext = post.image[0].split('.')[-1] | lower %}
                            {% if ext in ['mp4', 'webm', 'ogg'] %}
                                <video class="post-image" controls>
                                    <source src="{{ post.image[0] }}" type="video/{{ ext }}">
                                    Your browser does not support the video tag.
                                </video>
                            {% else %}
                                <img class="post-image" src="{{ post.image[0] }}" alt="Post image">
                            {% endif %}
                            {% else %}
                            <img  class="post-image" src="{{ url_for('static', filename='assets/ppLogo.png')}}" alt="">
                        {% endif %}
                        </div>

                        <div class="post-caption">
                            <p class="pp-caption">{{ post.caption | show_if }}</p>
                        </div>
                        
                        <div>  
                             <p class="pp-ts">{{ post.time_scheduled|smartdate }}</p>
                        </div>
                           
                        <div class="dropdown">
                            <button class="btn kebab-btn" type="button".
                                        id="kebabDropdown" data-bs-toggle="dropdown" aria-expanded="false"
                                        aria-label="Open options">
                                        <!-- Three dots -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                    <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                                    </svg>
                                </button>

                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="kebabDropdown">
                                    <li><form method="GET" action="/post/{{ post.id }}"><button class="dropdown-item" type="submit" id="requestMoneyBtn">Edit post</button></form></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><form method="POST" action="/delete_post">
                                        <input type="hidden" name="post_id" value="{{ post.id }}">
                                        <button class="dropdown-item text-danger" type="submit" id="deleteBtn" data-bs-toggle="modal" data-bs-target="#modalChoice">Delete post</button>
                                        </form>
                                    </li>
                                </ul>
                         </div>
                    </li>
                {% endfor %}
            </ul>
            
        

        <h2 class="pp-header">PUBLISHED POSTS</h2>
        <ul class="published-posts">
            {% for post in postedPosts %}
             <li class="posted-post">
            <div class="top-section">
                <div class="profile-pic">
                    <img src="" alt="">
                </div>
                <div class="profile-info">
                    <p>{{userDetails.username}} <br><span>{{ post.time_scheduled|smartdate }}</span></p>
                </div>
                
                <div class="dropdown">
          <button class="btn kebab-btn" type="button"
                  id="kebabDropdown" data-bs-toggle="dropdown" aria-expanded="false"
                  aria-label="Open options">
                  <!-- Three dots -->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
            </svg>
          </button>

          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="kebabDropdown">
            <li><form method="GET" action="/post/{{ post.id }}"><button class="dropdown-item" type="submit" id="requestMoneyBtn">Edit post</button></form></li>
            <li><hr class="dropdown-divider"></li>
            <li><!-- Delete Post Form -->
<form method="POST" action="/delete_post" class="deletepostForm">
  <input type="hidden" name="post_id" value="{{ post.id }}">

  <!-- Trigger Button -->
  <button type="button" class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#modalChoice">
    Delete post
  </button>
</form>

          </ul>
        </div>
        </div>
            <div>
                <p class="post-caption" id="caption-{{ post.id }}">
                {{ post.caption | show_if }}
                </p>
                <span class="see-more" data-id="{{ post.id }}">See more</span>
            </div>
               
            <!-- POST MEDIA -->
                {% if post.image %}
<div class="post-media" data-media='{{ post.image | tojson | safe }}'>
  {% for i in post.image %}
    {% set ext = i.split('.')[-1] | lower %}
    {% if ext in ['mp4', 'webm', 'ogg'] %}
      <div class="media-item">
        <video class="post-image posted-video" autoplay muted loop playsinline preload="metadata" >
          <source src="{{ i }}" type="video/{{ ext }}">
          Video Not Found!
        </video>
      </div>

    {% else %}
      <div class="media-item">
        <img class="post-image" src="{{ i }}" alt="Error loading this image">
      </div>
    {% endif %}

  {% endfor %}
</div>

{% endif %}



                <p class="post-plt">Active on
                {% for i in post.platform %}
                    <span>{{ i }}{% if not loop.last %}, {% else %}.{% endif %}</span>
                {% endfor %}

                </p>
                <p class="post-ana"><a href="">Post Analytics</a></p>
            </li>
            {% endfor %}
        </ul>
        </div>

        <!-- Fullscreen overlay (outside the loop) -->
        <div id="imageOverlay">
        <button class="close-btn">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"></path>
    </svg>
  </button>
    <div  class="gallery-content">
        <img src="" alt="Full image preview">
    </div>
        </div>

        <!-- Confirmation Modal -->
<div class="modal fade" id="modalChoice" tabindex="-1" aria-labelledby="modalChoiceLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-3 shadow">
      <div class="modal-header">
        <h5 class="modal-title" id="modalChoiceLabel">Confirm Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body text-center">
        <p>Are you sure you want to delete this post? This action cannot be undone.</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button id="confirmDelete" type="button" class="btn btn-danger">Yes, delete</button>
      </div>
    </div>
  </div>
</div>

        
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="/static/index.js"></script>
</html>